<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>1C7CD022-87C7-4E11-B656-E47B18819458</key>
		<dict>
			<key>HV</key>
			<string>80</string>
		</dict>
		<key>3C9D0203-951C-47F2-AE09-2B01C7450D35</key>
		<dict>
			<key>HV</key>
			<string>80</string>
			<key>nV</key>
			<string>80</string>
			<key>nd</key>
			<string>70</string>
			<key>oH</key>
			<string>70</string>
			<key>oV</key>
			<string>83</string>
		</dict>
		<key>4A17B37A-CBFD-40E5-9E02-2080A0E1F76C</key>
		<dict>
			<key>HH</key>
			<string>69</string>
			<key>HV</key>
			<string>80</string>
			<key>OH</key>
			<string>69</string>
			<key>OV</key>
			<string>80</string>
			<key>nV</key>
			<string>80</string>
			<key>nd</key>
			<string>70</string>
			<key>oH</key>
			<string>70</string>
			<key>oV</key>
			<string>83</string>
			<key>tH</key>
			<string>69</string>
		</dict>
		<key>90FEB760-6DE5-46E5-A8E9-582C63BAB3AD</key>
		<dict>
			<key>HH</key>
			<string>14</string>
			<key>HV</key>
			<string>16</string>
			<key>OH</key>
			<string>14</string>
			<key>OV</key>
			<string>16</string>
			<key>nV</key>
			<string>16</string>
			<key>nd</key>
			<string>14</string>
			<key>oH</key>
			<string>14</string>
			<key>oV</key>
			<string>16</string>
			<key>tH</key>
			<string>14</string>
		</dict>
		<key>99EB5860-B45A-4B60-BB0B-F826C8F71D42</key>
		<dict>
			<key>HH</key>
			<string>168</string>
			<key>HV</key>
			<string>230</string>
			<key>OH</key>
			<string>170</string>
			<key>OV</key>
			<string>231</string>
			<key>nV</key>
			<string>230</string>
			<key>nd</key>
			<string>170</string>
			<key>oH</key>
			<string>155</string>
			<key>oV</key>
			<string>231</string>
			<key>tH</key>
			<string>152</string>
		</dict>
	</dict>
	<key>com.schriftgestaltung.Preview Ascender</key>
	<string>1000</string>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<string>23</string>
		<key>GSOffsetHorizontal</key>
		<integer>56</integer>
		<key>GSOffsetMakeStroke</key>
		<string>1</string>
		<key>GSOffsetPosition</key>
		<string>1</string>
		<key>GSOffsetProportional</key>
		<string>1</string>
		<key>GSOffsetVertical</key>
		<integer>40</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>99EB5860-B45A-4B60-BB0B-F826C8F71D42</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>230</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>1045</integer>
			<key>y</key>
			<integer>376</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>596</integer>
			<key>y</key>
			<integer>-8</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>699</integer>
			<key>y</key>
			<integer>660</integer>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>H</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Germandbls</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni0122</string>
		<string>uni0136</string>
		<string>uni013B</string>
		<string>uni0145</string>
		<string>uni0156</string>
		<string>uni015E</string>
		<string>uni0162</string>
		<string>uni0218</string>
		<string>uni021A</string>
		<string>E.swsh.001</string>
		<string>Eacute.swsh.001</string>
		<string>Ecaron.swsh.001</string>
		<string>Ecircumflex.swsh.001</string>
		<string>Edieresis.swsh.001</string>
		<string>Edotaccent.swsh.001</string>
		<string>Egrave.swsh.001</string>
		<string>Emacron.swsh.001</string>
		<string>M.swsh.001</string>
		<string>R.swsh.001</string>
		<string>Racute.swsh.001</string>
		<string>Rcaron.swsh.001</string>
		<string>uni0156.swsh.001</string>
		<string>Adieresis.titl.001</string>
		<string>Odieresis.titl.001</string>
		<string>Iacute_J.loclNLD</string>
		<string>R.ss03</string>
		<string>Racute.ss03</string>
		<string>Rcaron.ss03</string>
		<string>uni0156.ss03</string>
		<string>G.ss04</string>
		<string>Gbreve.ss04</string>
		<string>uni0122.ss04</string>
		<string>IJ.ss05</string>
		<string>Iacute_J.loclNLD.ss05</string>
		<string>A.swsh</string>
		<string>Aacute.swsh</string>
		<string>Abreve.swsh</string>
		<string>Acircumflex.swsh</string>
		<string>Adieresis.swsh</string>
		<string>Agrave.swsh</string>
		<string>Amacron.swsh</string>
		<string>Aogonek.swsh</string>
		<string>Atilde.swsh</string>
		<string>E.swsh</string>
		<string>Eacute.swsh</string>
		<string>Ecaron.swsh</string>
		<string>Ecircumflex.swsh</string>
		<string>Edieresis.swsh</string>
		<string>Edotaccent.swsh</string>
		<string>Egrave.swsh</string>
		<string>Emacron.swsh</string>
		<string>Eogonek.swsh</string>
		<string>F.swsh</string>
		<string>L.swsh</string>
		<string>Lacute.swsh</string>
		<string>Lcaron.swsh</string>
		<string>uni013B.swsh</string>
		<string>Lslash.swsh</string>
		<string>M.swsh</string>
		<string>N.swsh</string>
		<string>Nacute.swsh</string>
		<string>Ncaron.swsh</string>
		<string>uni0145.swsh</string>
		<string>Ntilde.swsh</string>
		<string>R.swsh</string>
		<string>Racute.swsh</string>
		<string>Rcaron.swsh</string>
		<string>uni0156.swsh</string>
		<string>S.swsh</string>
		<string>Sacute.swsh</string>
		<string>Scaron.swsh</string>
		<string>uni015E.swsh</string>
		<string>uni0218.swsh</string>
		<string>T.swsh</string>
		<string>Tcaron.swsh</string>
		<string>uni0162.swsh</string>
		<string>uni021A.swsh</string>
		<string>W.swsh</string>
		<string>Adieresis.titl</string>
		<string>Odieresis.titl</string>
		<string>Udieresis.titl</string>
		<string>Ydieresis.titl</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>h</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>jdotless</string>
		<string>k</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>t</string>
		<string>tcaron</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0123</string>
		<string>uni0137</string>
		<string>uni013C</string>
		<string>uni0146</string>
		<string>uni0157</string>
		<string>uni015F</string>
		<string>uni0163</string>
		<string>uni0219</string>
		<string>uni021B</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>germandbls.calt</string>
		<string>longs.component</string>
		<string>iacute_j.loclNLD</string>
		<string>jdotless.ogonek</string>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>uni0123.ss01</string>
		<string>l.ss02</string>
		<string>lacute.ss02</string>
		<string>lcaron.ss02</string>
		<string>uni013C.ss02</string>
		<string>ldot.ss02</string>
		<string>lslash.ss02</string>
		<string>n.swsh</string>
		<string>nacute.swsh</string>
		<string>ncaron.swsh</string>
		<string>uni0146.swsh</string>
		<string>ntilde.swsh</string>
		<string>r.swsh</string>
		<string>racute.swsh</string>
		<string>rcaron.swsh</string>
		<string>uni0157.swsh</string>
		<string>t.swsh</string>
		<string>tcaron.swsh</string>
		<string>uni0163.swsh</string>
		<string>uni021B.swsh</string>
		<string>y.swsh</string>
		<string>yacute.swsh</string>
		<string>ydieresis.swsh</string>
		<string>j.ogonek</string>
		<string>c_t</string>
		<string>fi</string>
		<string>fl</string>
		<string>s_t</string>
		<string>longs_i</string>
		<string>longs_l</string>
		<string>longs_s</string>
		<string>f_t.liga</string>
		<string>g_j.liga</string>
		<string>j_j.liga</string>
		<string>t_t.liga</string>
		<string>g.ss01_j.liga</string>
		<string>fl.ss02</string>
		<string>longs_l.ss02</string>
		<string>Aogonek_j</string>
		<string>Aogonek_y</string>
		<string>aogonek_j</string>
		<string>f_idieresis</string>
		<string>g_idieresis</string>
		<string>iogonek_j</string>
		<string>uogonek_j</string>
		<string>uni0122.sc</string>
		<string>uni0136.sc</string>
		<string>uni013B.sc</string>
		<string>uni0145.sc</string>
		<string>uni0156.sc</string>
		<string>uni015E.sc</string>
		<string>uni0218.sc</string>
		<string>uni0162.sc</string>
		<string>uni021A.sc</string>
		<string>a.sc</string>
		<string>aacute.sc</string>
		<string>abreve.sc</string>
		<string>acircumflex.sc</string>
		<string>adieresis.sc</string>
		<string>agrave.sc</string>
		<string>amacron.sc</string>
		<string>aogonek.sc</string>
		<string>aring.sc</string>
		<string>atilde.sc</string>
		<string>ae.sc</string>
		<string>b.sc</string>
		<string>c.sc</string>
		<string>cacute.sc</string>
		<string>ccaron.sc</string>
		<string>ccedilla.sc</string>
		<string>d.sc</string>
		<string>eth.sc</string>
		<string>dcaron.sc</string>
		<string>dcroat.sc</string>
		<string>e.sc</string>
		<string>eacute.sc</string>
		<string>ecaron.sc</string>
		<string>ecircumflex.sc</string>
		<string>edieresis.sc</string>
		<string>edotaccent.sc</string>
		<string>egrave.sc</string>
		<string>emacron.sc</string>
		<string>eogonek.sc</string>
		<string>f.sc</string>
		<string>g.sc</string>
		<string>gbreve.sc</string>
		<string>h.sc</string>
		<string>i.sc</string>
		<string>iacute.sc</string>
		<string>iacute_j.loclNLD.sc</string>
		<string>icircumflex.sc</string>
		<string>idieresis.sc</string>
		<string>idotaccent.sc</string>
		<string>igrave.sc</string>
		<string>ij.sc</string>
		<string>imacron.sc</string>
		<string>iogonek.sc</string>
		<string>j.sc</string>
		<string>k.sc</string>
		<string>l.sc</string>
		<string>lacute.sc</string>
		<string>lcaron.sc</string>
		<string>ldot.sc</string>
		<string>lslash.sc</string>
		<string>m.sc</string>
		<string>n.sc</string>
		<string>nacute.sc</string>
		<string>ncaron.sc</string>
		<string>ntilde.sc</string>
		<string>o.sc</string>
		<string>oacute.sc</string>
		<string>ocircumflex.sc</string>
		<string>odieresis.sc</string>
		<string>ograve.sc</string>
		<string>ohungarumlaut.sc</string>
		<string>omacron.sc</string>
		<string>oslash.sc</string>
		<string>otilde.sc</string>
		<string>oe.sc</string>
		<string>p.sc</string>
		<string>thorn.sc</string>
		<string>q.sc</string>
		<string>r.sc</string>
		<string>racute.sc</string>
		<string>rcaron.sc</string>
		<string>s.sc</string>
		<string>sacute.sc</string>
		<string>scaron.sc</string>
		<string>germandbls.sc</string>
		<string>t.sc</string>
		<string>tcaron.sc</string>
		<string>u.sc</string>
		<string>uacute.sc</string>
		<string>ucircumflex.sc</string>
		<string>udieresis.sc</string>
		<string>ugrave.sc</string>
		<string>uhungarumlaut.sc</string>
		<string>umacron.sc</string>
		<string>uogonek.sc</string>
		<string>uring.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
		<string>x.sc</string>
		<string>y.sc</string>
		<string>yacute.sc</string>
		<string>ydieresis.sc</string>
		<string>z.sc</string>
		<string>zacute.sc</string>
		<string>zcaron.sc</string>
		<string>zdotaccent.sc</string>
		<string>uni0156.sc.ss03</string>
		<string>r.sc.ss03</string>
		<string>racute.sc.ss03</string>
		<string>rcaron.sc.ss03</string>
		<string>uni0122.sc.ss04</string>
		<string>g.sc.ss04</string>
		<string>gbreve.sc.ss04</string>
		<string>iacute_j.loclNLD.sc.ss05</string>
		<string>ij.sc.ss05</string>
		<string>adieresis.titl.sc</string>
		<string>odieresis.titl.sc</string>
		<string>udieresis.titl.sc</string>
		<string>ydieresis.titl.sc</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>pi</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>uni2780</string>
		<string>uni2781</string>
		<string>uni2782</string>
		<string>uni2783</string>
		<string>uni2784</string>
		<string>uni2785</string>
		<string>uni2786</string>
		<string>uni2787</string>
		<string>uni2788</string>
		<string>zero.osf</string>
		<string>one.osf</string>
		<string>two.osf</string>
		<string>three.osf</string>
		<string>four.osf</string>
		<string>five.osf</string>
		<string>six.osf</string>
		<string>seven.osf</string>
		<string>eight.osf</string>
		<string>nine.osf</string>
		<string>zero.tf</string>
		<string>one.tf</string>
		<string>two.tf</string>
		<string>three.tf</string>
		<string>four.tf</string>
		<string>five.tf</string>
		<string>six.tf</string>
		<string>seven.tf</string>
		<string>eight.tf</string>
		<string>nine.tf</string>
		<string>zero.tosf</string>
		<string>one.tosf</string>
		<string>two.tosf</string>
		<string>three.tosf</string>
		<string>four.tosf</string>
		<string>five.tosf</string>
		<string>six.tosf</string>
		<string>seven.tosf</string>
		<string>eight.tosf</string>
		<string>nine.tosf</string>
		<string>zero.zero</string>
		<string>zero.osf.zero</string>
		<string>zero.tf.zero</string>
		<string>zero.tosf.zero</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>zero.sc</string>
		<string>one.sc</string>
		<string>two.sc</string>
		<string>three.sc</string>
		<string>four.sc</string>
		<string>five.sc</string>
		<string>six.sc</string>
		<string>seven.sc</string>
		<string>eight.sc</string>
		<string>nine.sc</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>periodcentered.case</string>
		<string>exclamdown.case</string>
		<string>periodcentered.loclCAT.case</string>
		<string>questiondown.case</string>
		<string>periodcentered.loclCAT</string>
		<string>periodcentered.loclCAT.ss02</string>
		<string>colon.tf</string>
		<string>comma.tf</string>
		<string>numbersign.tf</string>
		<string>period.tf</string>
		<string>semicolon.tf</string>
		<string>parenleftinferior</string>
		<string>parenrightinferior</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>parenleftsuperior</string>
		<string>parenrightsuperior</string>
		<string>braceleft.case</string>
		<string>braceright.case</string>
		<string>bracketleft.case</string>
		<string>bracketright.case</string>
		<string>parenleft.case</string>
		<string>parenright.case</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>emdash.case</string>
		<string>endash.case</string>
		<string>hyphen.case</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>guillemotleft.case</string>
		<string>guillemotright.case</string>
		<string>guilsinglleft.case</string>
		<string>guilsinglright.case</string>
		<string>periodcentered.sc</string>
		<string>exclam.sc</string>
		<string>exclamdown.sc</string>
		<string>periodcentered.loclCAT.sc</string>
		<string>question.sc</string>
		<string>questiondown.sc</string>
		<string>quotedbl.sc</string>
		<string>quotedblleft.sc</string>
		<string>quotedblright.sc</string>
		<string>quoteleft.sc</string>
		<string>quoteright.sc</string>
		<string>quotesingle.sc</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>space.tf</string>
		<string>.notdef</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>florin</string>
		<string>sterling</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>yen</string>
		<string>cent.tf</string>
		<string>currency.tf</string>
		<string>dollar.tf</string>
		<string>Euro.tf</string>
		<string>florin.tf</string>
		<string>uni20BA.tf</string>
		<string>uni20BD.tf</string>
		<string>sterling.tf</string>
		<string>yen.tf</string>
		<string>cent.001</string>
		<string>dollar.001</string>
		<string>euro.part</string>
		<string>sterling.part</string>
		<string>euro.part.tf</string>
		<string>sterling.part.tf</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>equalinferior</string>
		<string>equalsuperior</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>minusinferior</string>
		<string>minussuperior</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusinferior</string>
		<string>plusminus</string>
		<string>plussuperior</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>uni00B5</string>
		<string>uni2126</string>
		<string>uni2206</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>uparrow</string>
		<string>nearrow</string>
		<string>rightarrow</string>
		<string>searrow</string>
		<string>downarrow</string>
		<string>swarrow</string>
		<string>leftarrow</string>
		<string>nwarrow</string>
		<string>leftrightarrow</string>
		<string>updownarrow</string>
		<string>blackCircle</string>
		<string>whiteCircle</string>
		<string>blackDiamond</string>
		<string>whiteDiamond</string>
		<string>lozenge</string>
		<string>blackSmallSquare</string>
		<string>whiteSmallSquare</string>
		<string>blackCircle.case</string>
		<string>whiteCircle.case</string>
		<string>blackDiamond.case</string>
		<string>whiteDiamond.case</string>
		<string>blackSmallSquare.case</string>
		<string>whiteSmallSquare.case</string>
		<string>heavyquoteleft</string>
		<string>heavyquoteright</string>
		<string>heavyquotedblleft</string>
		<string>heavyquotedblright</string>
		<string>curvedStemParagraphSignOrnament</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>uniF8FF</string>
		<string>uniF8FF.001</string>
		<string>bar.case</string>
		<string>at.case</string>
		<string>ampersand.sc</string>
		<string>dieresiscmb</string>
		<string>dotaccentcmb</string>
		<string>gravecmb</string>
		<string>acutecmb</string>
		<string>hungarumlautcmb</string>
		<string>circumflexcmb</string>
		<string>caroncmb</string>
		<string>brevecmb</string>
		<string>ringcmb</string>
		<string>tildecmb</string>
		<string>macroncmb</string>
		<string>commaaccent</string>
		<string>cedillacmb</string>
		<string>ogonekcmb</string>
		<string>gravecmb.asc</string>
		<string>acutecmb.asc</string>
		<string>hungarumlautcmb.asc</string>
		<string>circumflexcmb.asc</string>
		<string>caroncmb.asc</string>
		<string>gravecmb.cap</string>
		<string>acutecmb.cap</string>
		<string>hungarumlautcmb.cap</string>
		<string>circumflexcmb.cap</string>
		<string>caroncmb.cap</string>
		<string>uni02C9</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>ogonek.A</string>
		<string>ogonek.E</string>
		<string>ogonek.I</string>
		<string>caron.alt</string>
		<string>ogonek.e</string>
		<string>spacesuperior</string>
		<string>emdashsuperior</string>
		<string>endashsuperior</string>
		<string>hyphensuperior</string>
		<string>bracketleftsuperior</string>
		<string>bracketrightsuperior</string>
		<string>colonsuperior</string>
		<string>commasuperior</string>
		<string>periodsuperior</string>
		<string>Hsuperior</string>
		<string>Osuperior</string>
		<string>indexring</string>
		<string>registeredsuperior</string>
		<string>daggerdblsuperior</string>
		<string>daggersuperior</string>
		<string>gbase</string>
		<string>bowl</string>
		<string>coloninferior</string>
		<string>commainferior</string>
		<string>periodinferior</string>
		<string>bracketleftinferior</string>
		<string>bracketrightinferior</string>
		<string>emdashinferior</string>
		<string>endashinferior</string>
		<string>hypheninferior</string>
		<string>Hinferior</string>
		<string>Oinferior</string>
		<string>swash_bttmleft</string>
		<string>__swash_topleft</string>
	</array>
</dict>
</plist>
