<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.swsh</key>
	<string>A_.swsh.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Aacute.swsh</key>
	<string>A_acute.swsh.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Abreve.swsh</key>
	<string>A_breve.swsh.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Acircumflex.swsh</key>
	<string>A_circumflex.swsh.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Adieresis.swsh</key>
	<string>A_dieresis.swsh.glif</string>
	<key>Adieresis.titl</key>
	<string>A_dieresis.titl.glif</string>
	<key>Adieresis.titl.001</key>
	<string>A_dieresis.titl.001.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Agrave.swsh</key>
	<string>A_grave.swsh.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Amacron.swsh</key>
	<string>A_macron.swsh.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aogonek.swsh</key>
	<string>A_ogonek.swsh.glif</string>
	<key>Aogonek_j</key>
	<string>A_ogonek_j.glif</string>
	<key>Aogonek_y</key>
	<string>A_ogonek_y.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>Atilde.swsh</key>
	<string>A_tilde.swsh.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.swsh</key>
	<string>E_.swsh.glif</string>
	<key>E.swsh.001</key>
	<string>E_.swsh.001.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Eacute.swsh</key>
	<string>E_acute.swsh.glif</string>
	<key>Eacute.swsh.001</key>
	<string>E_acute.swsh.001.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecaron.swsh</key>
	<string>E_caron.swsh.glif</string>
	<key>Ecaron.swsh.001</key>
	<string>E_caron.swsh.001.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Ecircumflex.swsh</key>
	<string>E_circumflex.swsh.glif</string>
	<key>Ecircumflex.swsh.001</key>
	<string>E_circumflex.swsh.001.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edieresis.swsh</key>
	<string>E_dieresis.swsh.glif</string>
	<key>Edieresis.swsh.001</key>
	<string>E_dieresis.swsh.001.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Edotaccent.swsh</key>
	<string>E_dotaccent.swsh.glif</string>
	<key>Edotaccent.swsh.001</key>
	<string>E_dotaccent.swsh.001.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Egrave.swsh</key>
	<string>E_grave.swsh.glif</string>
	<key>Egrave.swsh.001</key>
	<string>E_grave.swsh.001.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Emacron.swsh</key>
	<string>E_macron.swsh.glif</string>
	<key>Emacron.swsh.001</key>
	<string>E_macron.swsh.001.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eogonek.swsh</key>
	<string>E_ogonek.swsh.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>Euro.tf</key>
	<string>E_uro.tf.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.swsh</key>
	<string>F_.swsh.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.ss04</key>
	<string>G_.ss04.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gbreve.ss04</key>
	<string>G_breve.ss04.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hinferior</key>
	<string>H_inferior.glif</string>
	<key>Hsuperior</key>
	<string>H_superior.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>I_J_.glif</string>
	<key>IJ.ss05</key>
	<string>I_J_.ss05.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Iacute_J.loclNLD</key>
	<string>I_acute_J_.loclN_L_D_.glif</string>
	<key>Iacute_J.loclNLD.ss05</key>
	<string>I_acute_J_.loclN_L_D_.ss05.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.swsh</key>
	<string>L_.swsh.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lacute.swsh</key>
	<string>L_acute.swsh.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcaron.swsh</key>
	<string>L_caron.swsh.glif</string>
	<key>Ldot</key>
	<string>L_dot.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>Lslash.swsh</key>
	<string>L_slash.swsh.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.swsh</key>
	<string>M_.swsh.glif</string>
	<key>M.swsh.001</key>
	<string>M_.swsh.001.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.swsh</key>
	<string>N_.swsh.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Nacute.swsh</key>
	<string>N_acute.swsh.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncaron.swsh</key>
	<string>N_caron.swsh.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>Ntilde.swsh</key>
	<string>N_tilde.swsh.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Odieresis.titl</key>
	<string>O_dieresis.titl.glif</string>
	<key>Odieresis.titl.001</key>
	<string>O_dieresis.titl.001.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Oinferior</key>
	<string>O_inferior.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Osuperior</key>
	<string>O_superior.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.ss03</key>
	<string>R_.ss03.glif</string>
	<key>R.swsh</key>
	<string>R_.swsh.glif</string>
	<key>R.swsh.001</key>
	<string>R_.swsh.001.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Racute.ss03</key>
	<string>R_acute.ss03.glif</string>
	<key>Racute.swsh</key>
	<string>R_acute.swsh.glif</string>
	<key>Racute.swsh.001</key>
	<string>R_acute.swsh.001.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcaron.ss03</key>
	<string>R_caron.ss03.glif</string>
	<key>Rcaron.swsh</key>
	<string>R_caron.swsh.glif</string>
	<key>Rcaron.swsh.001</key>
	<string>R_caron.swsh.001.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.swsh</key>
	<string>S_.swsh.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Sacute.swsh</key>
	<string>S_acute.swsh.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scaron.swsh</key>
	<string>S_caron.swsh.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.swsh</key>
	<string>T_.swsh.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcaron.swsh</key>
	<string>T_caron.swsh.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Udieresis.titl</key>
	<string>U_dieresis.titl.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.swsh</key>
	<string>W_.swsh.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ydieresis.titl</key>
	<string>Y_dieresis.titl.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>__swash_topleft</key>
	<string>__swash_topleft.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.sc</key>
	<string>a.sc.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.sc</key>
	<string>aacute.sc.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreve.sc</key>
	<string>abreve.sc.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.sc</key>
	<string>acircumflex.sc.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecmb</key>
	<string>acutecmb.glif</string>
	<key>acutecmb.asc</key>
	<string>acutecmb.asc.glif</string>
	<key>acutecmb.cap</key>
	<string>acutecmb.cap.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.sc</key>
	<string>adieresis.sc.glif</string>
	<key>adieresis.titl.sc</key>
	<string>adieresis.titl.sc.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ae.sc</key>
	<string>ae.sc.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.sc</key>
	<string>agrave.sc.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>amacron.sc</key>
	<string>amacron.sc.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.sc</key>
	<string>ampersand.sc.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aogonek.sc</key>
	<string>aogonek.sc.glif</string>
	<key>aogonek_j</key>
	<string>aogonek_j.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.sc</key>
	<string>aring.sc.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.case</key>
	<string>at.case.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.sc</key>
	<string>atilde.sc.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.sc</key>
	<string>b.sc.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bar.case</key>
	<string>bar.case.glif</string>
	<key>blackCircle</key>
	<string>blackC_ircle.glif</string>
	<key>blackCircle.case</key>
	<string>blackC_ircle.case.glif</string>
	<key>blackDiamond</key>
	<string>blackD_iamond.glif</string>
	<key>blackDiamond.case</key>
	<string>blackD_iamond.case.glif</string>
	<key>blackSmallSquare</key>
	<string>blackS_mallS_quare.glif</string>
	<key>blackSmallSquare.case</key>
	<string>blackS_mallS_quare.case.glif</string>
	<key>bowl</key>
	<string>bowl.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.case</key>
	<string>braceleft.case.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.case</key>
	<string>braceright.case.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.case</key>
	<string>bracketleft.case.glif</string>
	<key>bracketleftinferior</key>
	<string>bracketleftinferior.glif</string>
	<key>bracketleftsuperior</key>
	<string>bracketleftsuperior.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.case</key>
	<string>bracketright.case.glif</string>
	<key>bracketrightinferior</key>
	<string>bracketrightinferior.glif</string>
	<key>bracketrightsuperior</key>
	<string>bracketrightsuperior.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevecmb</key>
	<string>brevecmb.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.sc</key>
	<string>c.sc.glif</string>
	<key>c_t</key>
	<string>c_t.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>cacute.sc</key>
	<string>cacute.sc.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.alt</key>
	<string>caron.alt.glif</string>
	<key>caroncmb</key>
	<string>caroncmb.glif</string>
	<key>caroncmb.asc</key>
	<string>caroncmb.asc.glif</string>
	<key>caroncmb.cap</key>
	<string>caroncmb.cap.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccaron.sc</key>
	<string>ccaron.sc.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccedilla.sc</key>
	<string>ccedilla.sc.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacmb</key>
	<string>cedillacmb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>cent.001</key>
	<string>cent.001.glif</string>
	<key>cent.tf</key>
	<string>cent.tf.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcmb</key>
	<string>circumflexcmb.glif</string>
	<key>circumflexcmb.asc</key>
	<string>circumflexcmb.asc.glif</string>
	<key>circumflexcmb.cap</key>
	<string>circumflexcmb.cap.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colon.tf</key>
	<string>colon.tf.glif</string>
	<key>coloninferior</key>
	<string>coloninferior.glif</string>
	<key>colonsuperior</key>
	<string>colonsuperior.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma.tf</key>
	<string>comma.tf.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>commainferior</key>
	<string>commainferior.glif</string>
	<key>commasuperior</key>
	<string>commasuperior.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>currency.tf</key>
	<string>currency.tf.glif</string>
	<key>curvedStemParagraphSignOrnament</key>
	<string>curvedS_temP_aragraphS_ignO_rnament.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.sc</key>
	<string>d.sc.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>daggerdblsuperior</key>
	<string>daggerdblsuperior.glif</string>
	<key>daggersuperior</key>
	<string>daggersuperior.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcaron.sc</key>
	<string>dcaron.sc.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dcroat.sc</key>
	<string>dcroat.sc.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscmb</key>
	<string>dieresiscmb.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.001</key>
	<string>dollar.001.glif</string>
	<key>dollar.tf</key>
	<string>dollar.tf.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcmb</key>
	<string>dotaccentcmb.glif</string>
	<key>downarrow</key>
	<string>downarrow.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.sc</key>
	<string>e.sc.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>eacute.sc</key>
	<string>eacute.sc.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecaron.sc</key>
	<string>ecaron.sc.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>ecircumflex.sc</key>
	<string>ecircumflex.sc.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edieresis.sc</key>
	<string>edieresis.sc.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>edotaccent.sc</key>
	<string>edotaccent.sc.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>egrave.sc</key>
	<string>egrave.sc.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>eight.numr</key>
	<string>eight.numr.glif</string>
	<key>eight.osf</key>
	<string>eight.osf.glif</string>
	<key>eight.sc</key>
	<string>eight.sc.glif</string>
	<key>eight.tf</key>
	<string>eight.tf.glif</string>
	<key>eight.tosf</key>
	<string>eight.tosf.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emacron.sc</key>
	<string>emacron.sc.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.case</key>
	<string>emdash.case.glif</string>
	<key>emdashinferior</key>
	<string>emdashinferior.glif</string>
	<key>emdashsuperior</key>
	<string>emdashsuperior.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.case</key>
	<string>endash.case.glif</string>
	<key>endashinferior</key>
	<string>endashinferior.glif</string>
	<key>endashsuperior</key>
	<string>endashsuperior.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>eogonek.sc</key>
	<string>eogonek.sc.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>equalinferior</key>
	<string>equalinferior.glif</string>
	<key>equalsuperior</key>
	<string>equalsuperior.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>eth.sc</key>
	<string>eth.sc.glif</string>
	<key>euro.part</key>
	<string>euro.part.glif</string>
	<key>euro.part.tf</key>
	<string>euro.part.tf.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclam.sc</key>
	<string>exclam.sc.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdown.case</key>
	<string>exclamdown.case.glif</string>
	<key>exclamdown.sc</key>
	<string>exclamdown.sc.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.sc</key>
	<string>f.sc.glif</string>
	<key>f_idieresis</key>
	<string>f_idieresis.glif</string>
	<key>f_t.liga</key>
	<string>f_t.liga.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.dnom</key>
	<string>five.dnom.glif</string>
	<key>five.numr</key>
	<string>five.numr.glif</string>
	<key>five.osf</key>
	<string>five.osf.glif</string>
	<key>five.sc</key>
	<string>five.sc.glif</string>
	<key>five.tf</key>
	<string>five.tf.glif</string>
	<key>five.tosf</key>
	<string>five.tosf.glif</string>
	<key>fiveinferior</key>
	<string>fiveinferior.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>fl.ss02</key>
	<string>fl.ss02.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>florin.tf</key>
	<string>florin.tf.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>four.numr</key>
	<string>four.numr.glif</string>
	<key>four.osf</key>
	<string>four.osf.glif</string>
	<key>four.sc</key>
	<string>four.sc.glif</string>
	<key>four.tf</key>
	<string>four.tf.glif</string>
	<key>four.tosf</key>
	<string>four.tosf.glif</string>
	<key>fourinferior</key>
	<string>fourinferior.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.sc</key>
	<string>g.sc.glif</string>
	<key>g.sc.ss04</key>
	<string>g.sc.ss04.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>g.ss01_j.liga</key>
	<string>g.ss01_j.liga.glif</string>
	<key>g_idieresis</key>
	<string>g_idieresis.glif</string>
	<key>g_j.liga</key>
	<string>g_j.liga.glif</string>
	<key>gbase</key>
	<string>gbase.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gbreve.sc</key>
	<string>gbreve.sc.glif</string>
	<key>gbreve.sc.ss04</key>
	<string>gbreve.sc.ss04.glif</string>
	<key>gbreve.ss01</key>
	<string>gbreve.ss01.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.calt</key>
	<string>germandbls.calt.glif</string>
	<key>germandbls.sc</key>
	<string>germandbls.sc.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecmb</key>
	<string>gravecmb.glif</string>
	<key>gravecmb.asc</key>
	<string>gravecmb.asc.glif</string>
	<key>gravecmb.cap</key>
	<string>gravecmb.cap.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotleft.case</key>
	<string>guillemotleft.case.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guillemotright.case</key>
	<string>guillemotright.case.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.case</key>
	<string>guilsinglleft.case.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>guilsinglright.case</key>
	<string>guilsinglright.case.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.sc</key>
	<string>h.sc.glif</string>
	<key>heavyquotedblleft</key>
	<string>heavyquotedblleft.glif</string>
	<key>heavyquotedblright</key>
	<string>heavyquotedblright.glif</string>
	<key>heavyquoteleft</key>
	<string>heavyquoteleft.glif</string>
	<key>heavyquoteright</key>
	<string>heavyquoteright.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcmb</key>
	<string>hungarumlautcmb.glif</string>
	<key>hungarumlautcmb.asc</key>
	<string>hungarumlautcmb.asc.glif</string>
	<key>hungarumlautcmb.cap</key>
	<string>hungarumlautcmb.cap.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.case</key>
	<string>hyphen.case.glif</string>
	<key>hypheninferior</key>
	<string>hypheninferior.glif</string>
	<key>hyphensuperior</key>
	<string>hyphensuperior.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.sc</key>
	<string>i.sc.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>iacute.sc</key>
	<string>iacute.sc.glif</string>
	<key>iacute_j.loclNLD</key>
	<string>iacute_j.loclN_L_D_.glif</string>
	<key>iacute_j.loclNLD.sc</key>
	<string>iacute_j.loclN_L_D_.sc.glif</string>
	<key>iacute_j.loclNLD.sc.ss05</key>
	<string>iacute_j.loclN_L_D_.sc.ss05.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>icircumflex.sc</key>
	<string>icircumflex.sc.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idieresis.sc</key>
	<string>idieresis.sc.glif</string>
	<key>idotaccent</key>
	<string>idotaccent.glif</string>
	<key>idotaccent.sc</key>
	<string>idotaccent.sc.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>igrave.sc</key>
	<string>igrave.sc.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>ij.sc</key>
	<string>ij.sc.glif</string>
	<key>ij.sc.ss05</key>
	<string>ij.sc.ss05.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>imacron.sc</key>
	<string>imacron.sc.glif</string>
	<key>indexring</key>
	<string>indexring.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>iogonek.sc</key>
	<string>iogonek.sc.glif</string>
	<key>iogonek_j</key>
	<string>iogonek_j.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.ogonek</key>
	<string>j.ogonek.glif</string>
	<key>j.sc</key>
	<string>j.sc.glif</string>
	<key>j_j.liga</key>
	<string>j_j.liga.glif</string>
	<key>jdotless</key>
	<string>jdotless.glif</string>
	<key>jdotless.ogonek</key>
	<string>jdotless.ogonek.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.sc</key>
	<string>k.sc.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.sc</key>
	<string>l.sc.glif</string>
	<key>l.ss02</key>
	<string>l.ss02.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lacute.sc</key>
	<string>lacute.sc.glif</string>
	<key>lacute.ss02</key>
	<string>lacute.ss02.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcaron.sc</key>
	<string>lcaron.sc.glif</string>
	<key>lcaron.ss02</key>
	<string>lcaron.ss02.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>ldot.sc</key>
	<string>ldot.sc.glif</string>
	<key>ldot.ss02</key>
	<string>ldot.ss02.glif</string>
	<key>leftarrow</key>
	<string>leftarrow.glif</string>
	<key>leftrightarrow</key>
	<string>leftrightarrow.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>longs</key>
	<string>longs.glif</string>
	<key>longs.component</key>
	<string>longs.component.glif</string>
	<key>longs_i</key>
	<string>longs_i.glif</string>
	<key>longs_l</key>
	<string>longs_l.glif</string>
	<key>longs_l.ss02</key>
	<string>longs_l.ss02.glif</string>
	<key>longs_s</key>
	<string>longs_s.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>lslash.sc</key>
	<string>lslash.sc.glif</string>
	<key>lslash.ss02</key>
	<string>lslash.ss02.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.sc</key>
	<string>m.sc.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macroncmb</key>
	<string>macroncmb.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>minusinferior</key>
	<string>minusinferior.glif</string>
	<key>minussuperior</key>
	<string>minussuperior.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.sc</key>
	<string>n.sc.glif</string>
	<key>n.swsh</key>
	<string>n.swsh.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nacute.sc</key>
	<string>nacute.sc.glif</string>
	<key>nacute.swsh</key>
	<string>nacute.swsh.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncaron.sc</key>
	<string>ncaron.sc.glif</string>
	<key>ncaron.swsh</key>
	<string>ncaron.swsh.glif</string>
	<key>nearrow</key>
	<string>nearrow.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.dnom</key>
	<string>nine.dnom.glif</string>
	<key>nine.numr</key>
	<string>nine.numr.glif</string>
	<key>nine.osf</key>
	<string>nine.osf.glif</string>
	<key>nine.sc</key>
	<string>nine.sc.glif</string>
	<key>nine.tf</key>
	<string>nine.tf.glif</string>
	<key>nine.tosf</key>
	<string>nine.tosf.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>ntilde.sc</key>
	<string>ntilde.sc.glif</string>
	<key>ntilde.swsh</key>
	<string>ntilde.swsh.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numbersign.tf</key>
	<string>numbersign.tf.glif</string>
	<key>nwarrow</key>
	<string>nwarrow.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.sc</key>
	<string>o.sc.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>oacute.sc</key>
	<string>oacute.sc.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>ocircumflex.sc</key>
	<string>ocircumflex.sc.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>odieresis.sc</key>
	<string>odieresis.sc.glif</string>
	<key>odieresis.titl.sc</key>
	<string>odieresis.titl.sc.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>oe.sc</key>
	<string>oe.sc.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonek.A</key>
	<string>ogonek.A_.glif</string>
	<key>ogonek.E</key>
	<string>ogonek.E_.glif</string>
	<key>ogonek.I</key>
	<string>ogonek.I_.glif</string>
	<key>ogonek.e</key>
	<string>ogonek.e.glif</string>
	<key>ogonekcmb</key>
	<string>ogonekcmb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ograve.sc</key>
	<string>ograve.sc.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>ohungarumlaut.sc</key>
	<string>ohungarumlaut.sc.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>omacron.sc</key>
	<string>omacron.sc.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>one.osf</key>
	<string>one.osf.glif</string>
	<key>one.sc</key>
	<string>one.sc.glif</string>
	<key>one.tf</key>
	<string>one.tf.glif</string>
	<key>one.tosf</key>
	<string>one.tosf.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>oslash.sc</key>
	<string>oslash.sc.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>otilde.sc</key>
	<string>otilde.sc.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.sc</key>
	<string>p.sc.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.case</key>
	<string>parenleft.case.glif</string>
	<key>parenleftinferior</key>
	<string>parenleftinferior.glif</string>
	<key>parenleftsuperior</key>
	<string>parenleftsuperior.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.case</key>
	<string>parenright.case.glif</string>
	<key>parenrightinferior</key>
	<string>parenrightinferior.glif</string>
	<key>parenrightsuperior</key>
	<string>parenrightsuperior.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>period.tf</key>
	<string>period.tf.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodcentered.case</key>
	<string>periodcentered.case.glif</string>
	<key>periodcentered.loclCAT</key>
	<string>periodcentered.loclC_A_T_.glif</string>
	<key>periodcentered.loclCAT.case</key>
	<string>periodcentered.loclC_A_T_.case.glif</string>
	<key>periodcentered.loclCAT.sc</key>
	<string>periodcentered.loclC_A_T_.sc.glif</string>
	<key>periodcentered.loclCAT.ss02</key>
	<string>periodcentered.loclC_A_T_.ss02.glif</string>
	<key>periodcentered.sc</key>
	<string>periodcentered.sc.glif</string>
	<key>periodinferior</key>
	<string>periodinferior.glif</string>
	<key>periodsuperior</key>
	<string>periodsuperior.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusinferior</key>
	<string>plusinferior.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>plussuperior</key>
	<string>plussuperior.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.sc</key>
	<string>q.sc.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.sc</key>
	<string>question.sc.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.case</key>
	<string>questiondown.case.glif</string>
	<key>questiondown.sc</key>
	<string>questiondown.sc.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedbl.sc</key>
	<string>quotedbl.sc.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblleft.sc</key>
	<string>quotedblleft.sc.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quotedblright.sc</key>
	<string>quotedblright.sc.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteleft.sc</key>
	<string>quoteleft.sc.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quoteright.sc</key>
	<string>quoteright.sc.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>quotesingle.sc</key>
	<string>quotesingle.sc.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.sc</key>
	<string>r.sc.glif</string>
	<key>r.sc.ss03</key>
	<string>r.sc.ss03.glif</string>
	<key>r.swsh</key>
	<string>r.swsh.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>racute.sc</key>
	<string>racute.sc.glif</string>
	<key>racute.sc.ss03</key>
	<string>racute.sc.ss03.glif</string>
	<key>racute.swsh</key>
	<string>racute.swsh.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcaron.sc</key>
	<string>rcaron.sc.glif</string>
	<key>rcaron.sc.ss03</key>
	<string>rcaron.sc.ss03.glif</string>
	<key>rcaron.swsh</key>
	<string>rcaron.swsh.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>registeredsuperior</key>
	<string>registeredsuperior.glif</string>
	<key>rightarrow</key>
	<string>rightarrow.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcmb</key>
	<string>ringcmb.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.sc</key>
	<string>s.sc.glif</string>
	<key>s_t</key>
	<string>s_t.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>sacute.sc</key>
	<string>sacute.sc.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scaron.sc</key>
	<string>scaron.sc.glif</string>
	<key>searrow</key>
	<string>searrow.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>semicolon.tf</key>
	<string>semicolon.tf.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.dnom</key>
	<string>seven.dnom.glif</string>
	<key>seven.numr</key>
	<string>seven.numr.glif</string>
	<key>seven.osf</key>
	<string>seven.osf.glif</string>
	<key>seven.sc</key>
	<string>seven.sc.glif</string>
	<key>seven.tf</key>
	<string>seven.tf.glif</string>
	<key>seven.tosf</key>
	<string>seven.tosf.glif</string>
	<key>seveninferior</key>
	<string>seveninferior.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.dnom</key>
	<string>six.dnom.glif</string>
	<key>six.numr</key>
	<string>six.numr.glif</string>
	<key>six.osf</key>
	<string>six.osf.glif</string>
	<key>six.sc</key>
	<string>six.sc.glif</string>
	<key>six.tf</key>
	<string>six.tf.glif</string>
	<key>six.tosf</key>
	<string>six.tosf.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>space.tf</key>
	<string>space.tf.glif</string>
	<key>spacesuperior</key>
	<string>spacesuperior.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>sterling.part</key>
	<string>sterling.part.glif</string>
	<key>sterling.part.tf</key>
	<string>sterling.part.tf.glif</string>
	<key>sterling.tf</key>
	<string>sterling.tf.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>swarrow</key>
	<string>swarrow.glif</string>
	<key>swash_bttmleft</key>
	<string>swash_bttmleft.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.sc</key>
	<string>t.sc.glif</string>
	<key>t.swsh</key>
	<string>t.swsh.glif</string>
	<key>t_t.liga</key>
	<string>t_t.liga.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcaron.sc</key>
	<string>tcaron.sc.glif</string>
	<key>tcaron.swsh</key>
	<string>tcaron.swsh.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>thorn.sc</key>
	<string>thorn.sc.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>three.numr</key>
	<string>three.numr.glif</string>
	<key>three.osf</key>
	<string>three.osf.glif</string>
	<key>three.sc</key>
	<string>three.sc.glif</string>
	<key>three.tf</key>
	<string>three.tf.glif</string>
	<key>three.tosf</key>
	<string>three.tosf.glif</string>
	<key>threeinferior</key>
	<string>threeinferior.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecmb</key>
	<string>tildecmb.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>two.numr</key>
	<string>two.numr.glif</string>
	<key>two.osf</key>
	<string>two.osf.glif</string>
	<key>two.sc</key>
	<string>two.sc.glif</string>
	<key>two.tf</key>
	<string>two.tf.glif</string>
	<key>two.tosf</key>
	<string>two.tosf.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.sc</key>
	<string>u.sc.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>uacute.sc</key>
	<string>uacute.sc.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>ucircumflex.sc</key>
	<string>ucircumflex.sc.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udieresis.sc</key>
	<string>udieresis.sc.glif</string>
	<key>udieresis.titl.sc</key>
	<string>udieresis.titl.sc.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>ugrave.sc</key>
	<string>ugrave.sc.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>uhungarumlaut.sc</key>
	<string>uhungarumlaut.sc.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>umacron.sc</key>
	<string>umacron.sc.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni00B5</key>
	<string>uni00B_5.glif</string>
	<key>uni0122</key>
	<string>uni0122.glif</string>
	<key>uni0122.sc</key>
	<string>uni0122.sc.glif</string>
	<key>uni0122.sc.ss04</key>
	<string>uni0122.sc.ss04.glif</string>
	<key>uni0122.ss04</key>
	<string>uni0122.ss04.glif</string>
	<key>uni0123</key>
	<string>uni0123.glif</string>
	<key>uni0123.ss01</key>
	<string>uni0123.ss01.glif</string>
	<key>uni0136</key>
	<string>uni0136.glif</string>
	<key>uni0136.sc</key>
	<string>uni0136.sc.glif</string>
	<key>uni0137</key>
	<string>uni0137.glif</string>
	<key>uni013B</key>
	<string>uni013B_.glif</string>
	<key>uni013B.sc</key>
	<string>uni013B_.sc.glif</string>
	<key>uni013B.swsh</key>
	<string>uni013B_.swsh.glif</string>
	<key>uni013C</key>
	<string>uni013C_.glif</string>
	<key>uni013C.ss02</key>
	<string>uni013C_.ss02.glif</string>
	<key>uni0145</key>
	<string>uni0145.glif</string>
	<key>uni0145.sc</key>
	<string>uni0145.sc.glif</string>
	<key>uni0145.swsh</key>
	<string>uni0145.swsh.glif</string>
	<key>uni0146</key>
	<string>uni0146.glif</string>
	<key>uni0146.swsh</key>
	<string>uni0146.swsh.glif</string>
	<key>uni0156</key>
	<string>uni0156.glif</string>
	<key>uni0156.sc</key>
	<string>uni0156.sc.glif</string>
	<key>uni0156.sc.ss03</key>
	<string>uni0156.sc.ss03.glif</string>
	<key>uni0156.ss03</key>
	<string>uni0156.ss03.glif</string>
	<key>uni0156.swsh</key>
	<string>uni0156.swsh.glif</string>
	<key>uni0156.swsh.001</key>
	<string>uni0156.swsh.001.glif</string>
	<key>uni0157</key>
	<string>uni0157.glif</string>
	<key>uni0157.swsh</key>
	<string>uni0157.swsh.glif</string>
	<key>uni015E</key>
	<string>uni015E_.glif</string>
	<key>uni015E.sc</key>
	<string>uni015E_.sc.glif</string>
	<key>uni015E.swsh</key>
	<string>uni015E_.swsh.glif</string>
	<key>uni015F</key>
	<string>uni015F_.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni0162.sc</key>
	<string>uni0162.sc.glif</string>
	<key>uni0162.swsh</key>
	<string>uni0162.swsh.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni0163.swsh</key>
	<string>uni0163.swsh.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni0218.sc</key>
	<string>uni0218.sc.glif</string>
	<key>uni0218.swsh</key>
	<string>uni0218.swsh.glif</string>
	<key>uni0219</key>
	<string>uni0219.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021A.sc</key>
	<string>uni021A_.sc.glif</string>
	<key>uni021A.swsh</key>
	<string>uni021A_.swsh.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni021B.swsh</key>
	<string>uni021B_.swsh.glif</string>
	<key>uni02C9</key>
	<string>uni02C_9.glif</string>
	<key>uni20BA</key>
	<string>uni20B_A_.glif</string>
	<key>uni20BA.tf</key>
	<string>uni20B_A_.tf.glif</string>
	<key>uni20BD</key>
	<string>uni20B_D_.glif</string>
	<key>uni20BD.tf</key>
	<string>uni20B_D_.tf.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uni2126</key>
	<string>uni2126.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uni2780</key>
	<string>uni2780.glif</string>
	<key>uni2781</key>
	<string>uni2781.glif</string>
	<key>uni2782</key>
	<string>uni2782.glif</string>
	<key>uni2783</key>
	<string>uni2783.glif</string>
	<key>uni2784</key>
	<string>uni2784.glif</string>
	<key>uni2785</key>
	<string>uni2785.glif</string>
	<key>uni2786</key>
	<string>uni2786.glif</string>
	<key>uni2787</key>
	<string>uni2787.glif</string>
	<key>uni2788</key>
	<string>uni2788.glif</string>
	<key>uniF8FF</key>
	<string>uniF_8F_F_.glif</string>
	<key>uniF8FF.001</key>
	<string>uniF_8F_F_.001.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uogonek.sc</key>
	<string>uogonek.sc.glif</string>
	<key>uogonek_j</key>
	<string>uogonek_j.glif</string>
	<key>uparrow</key>
	<string>uparrow.glif</string>
	<key>updownarrow</key>
	<string>updownarrow.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>uring.sc</key>
	<string>uring.sc.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.sc</key>
	<string>v.sc.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.sc</key>
	<string>w.sc.glif</string>
	<key>whiteCircle</key>
	<string>whiteC_ircle.glif</string>
	<key>whiteCircle.case</key>
	<string>whiteC_ircle.case.glif</string>
	<key>whiteDiamond</key>
	<string>whiteD_iamond.glif</string>
	<key>whiteDiamond.case</key>
	<string>whiteD_iamond.case.glif</string>
	<key>whiteSmallSquare</key>
	<string>whiteS_mallS_quare.glif</string>
	<key>whiteSmallSquare.case</key>
	<string>whiteS_mallS_quare.case.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.sc</key>
	<string>x.sc.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.sc</key>
	<string>y.sc.glif</string>
	<key>y.swsh</key>
	<string>y.swsh.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>yacute.sc</key>
	<string>yacute.sc.glif</string>
	<key>yacute.swsh</key>
	<string>yacute.swsh.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydieresis.sc</key>
	<string>ydieresis.sc.glif</string>
	<key>ydieresis.swsh</key>
	<string>ydieresis.swsh.glif</string>
	<key>ydieresis.titl.sc</key>
	<string>ydieresis.titl.sc.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yen.tf</key>
	<string>yen.tf.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.sc</key>
	<string>z.sc.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zacute.sc</key>
	<string>zacute.sc.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zcaron.sc</key>
	<string>zcaron.sc.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zdotaccent.sc</key>
	<string>zdotaccent.sc.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
	<key>zero.numr</key>
	<string>zero.numr.glif</string>
	<key>zero.osf</key>
	<string>zero.osf.glif</string>
	<key>zero.osf.zero</key>
	<string>zero.osf.zero.glif</string>
	<key>zero.sc</key>
	<string>zero.sc.glif</string>
	<key>zero.tf</key>
	<string>zero.tf.glif</string>
	<key>zero.tf.zero</key>
	<string>zero.tf.zero.glif</string>
	<key>zero.tosf</key>
	<string>zero.tosf.glif</string>
	<key>zero.tosf.zero</key>
	<string>zero.tosf.zero.glif</string>
	<key>zero.zero</key>
	<string>zero.zero.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
</dict>
</plist>
